   
 

   <div class="header">
       <h2>Result Of The Test</h2>
   </div>

    <div class="media">
        <button mat-button matTooltip="Info about the action">
        <img src="../assets/image11.JPG" class="align-self-center mr-3" alt="...">
      </button>
       
        <div class="media">
          <button mat-button matTooltip="Info about the action">
          <img src="../assets/image12.JPG" class="align-self-center mr-3" alt="...">
        </button>
          <div class="media">
              <button mat-button matTooltip="Info about the action">
              <img src="../assets/Capture13.JPG" class="align-self-center mr-3" alt="...">
            </button>
            </div>

            <div class="media">
              <button mat-button matTooltip="Info about the action">
              <img src="../assets/image14.JPG" class="align-self-center mr-3" alt="..." >
            </button>
              </div>

              <div class="media">
              <button mat-button matTooltip="Info about the action"> 
            <img src="../assets/image15.JPG" class="align-self-center mr-3" alt="...">
            </button>
              </div>
        </div>

    </div>
    <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>

      <div class="button" >
        <div class="col-md-6 align-self-center">
        <button mat-raised-button class="btn btn-lg" color="primary" >Try again</button>
      </div>
    </div>